# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Resultados gerados
resultado/
resultado/crops/

# Imagens de teste
teste/

# Modelos YOLO / CLIP
*.pt
*.pth
*.onnx

# Arquivos grandes opcionais
*.weights

# Windows
Thumbs.db
Desktop.ini
